[Desktop Entry]
Type=Application
Exec=lxterminal -e "/root/advRescue.sh; echo 'Done. Reboot in 5 seconds...'; sleep 5"
Name=AdvRescue 
Comment=Advantech Rescue
Categories=Utility;
#Icon=
Keywords=terminal;
StartupNotify=false
